/* Color Template */

.color-primary{
    color: $color-primary;
}

.color-primary-bg{
    background: $color-primary;
}

.color-second{
    color: $color-second;
}

.color-second-bg{
    background: $color-second;
}

.color-brown{
    color: $color-brown
}
.color-brown-bg{
    background: $color-brown
}

.color-black{
    color: $color-black
}